/* You can add global styles to this file, and also import other style files */
.bg {
    /* The image used 
    background-image: url("img_girl.jpg");*/
    background-color: rgba(0, 0, 0, 1);
    /* Full height */
    height: 90%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}