
<form action="">
  <div class="example-container">
    <mat-card>
      <h1>Ensaio Fotográfico Gratuito</h1>

    <mat-form-field>
      <input matInput type="text" placeholder="Nome" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="Email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="tel" placeholder="Telefone" required>
    </mat-form-field>
    
    <mat-form-field>
      <textarea matInput placeholder="Motivo" required></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Inscrever</button>
    <!-- <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field> -->
  </mat-card>
  </div>
</form>

